*{
  text-align: center;
}

main{
  margin-top: 100px
}

img{
  width: 400px;
  transition: transform .2s;
}

img:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  cursor:pointer
}

